@use '../../constants/sizes.scss' as sizes;

$width:calc(100vw - sizes.$medium);
$height:calc(100vw - sizes.$medium);

.wrapper{
    display: flex;
    width: calc(100vw - 32px);
    height:50vw;
    margin:sizes.$medium;
    overflow-x: auto;
}