@use '../../constants/sizes.scss' as sizes;

$width:calc(100vw - sizes.$medium);
$height:calc(100vw - sizes.$medium);

.wrapper{
    display: grid;
    width: calc(100vw - 32px);
    height:100vh;
    margin:sizes.$medium;
    overflow-x: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}