<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <span class="material-icons">{{drawer.opened ? 'close' : 'menu'}}</span>
    </button>
    <span>Casia Angular</span>
</mat-toolbar>

<mat-drawer-container class="sidebar" autosize>
  <mat-drawer #drawer class="sidebar__content" mode="side">
      <button mat-button class="sidebar__button">Test</button>
      <button mat-button class="sidebar__button">Test</button>
      <button mat-button class="sidebar__button">Test</button>
  </mat-drawer>
</mat-drawer-container>