<div class="sidenav">
    <mat-toolbar color="primary">
        <button
            data-cy="drawer-btn"
            mat-icon-button
            (click)="onButtonClickedHandler()"
        >
            <span class="material-icons">{{
                drawer.opened ? 'close' : 'menu'
            }}</span>
        </button>
        <span>Casia Angular</span>
    </mat-toolbar>
</div>

<mat-drawer-container
    class="sidebar"
    [ngClass]="{ 'sidebar--closed': !isDrawerOpen }"
>
    <mat-drawer #drawer class="sidebar__content" mode="side">
        <a routerLink="/boards" (click)="onButtonClickedHandler()">
            <button mat-button class="sidebar__button">
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                    >view_module</mat-icon
                >
                Boards
            </button>
        </a>
        <a routerLink="/groups" (click)="onButtonClickedHandler()">
            <button mat-button class="sidebar__button">
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                    >group</mat-icon
                >
                Groups
            </button>
        </a>
        <a routerLink="/settings" (click)="onButtonClickedHandler()">
            <button mat-button class="sidebar__button">
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                    >settings</mat-icon
                >
                Settings
            </button>
        </a>
    </mat-drawer>
</mat-drawer-container>

<router-outlet></router-outlet>
