<div class="list">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let listItem of listItems">
            <cas-list-item [title]="listItem.title" cdkDrag></cas-list-item>
        </ng-container>
    </div>
    <div class="list__input">
        <mat-form-field appearance="fill">
            <mat-label>Add items</mat-label>
            <input
                matInput
                placeholder="e.g. eggs, ham etc."
                [formControl]="control"
            />
        </mat-form-field>
    </div>
    <cas-list-button (click)="onButtonClicked()">Add items</cas-list-button>
</div>
