<div class="sign-up-page">
    <div class="sign-up-page__form" [formGroup]="form">
        <h1
         data-cy="header" 
         class="sign-up-page__heading">
         Login in
        </h1>
        <mat-form-field
         class="example-full-width"
         >
            <mat-label>Email</mat-label>
            <input
             matInput
             placeholder="example@gmail.com"
             type="email"
             formControlName="email"
             data-cy="email_field" 
             >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
             matInput
             type="password"
             formControlName="password">
        </mat-form-field>
        <button
         mat-button color="primary"
         [disabled]="form.invalid"
         (click)="onButtonClickedHandler()"
         data-cy="sign-up-btn" 
         >
         Sign Up
        </button>
        <div class="sign-up-page__alternative-form">
            <p class="sign-up-page__alternative-form-text">or</p>
            <app-login-button iconSrc="assets/gmail.svg">Continue with Gmail</app-login-button>
            <app-login-button iconSrc="assets/facebook.svg">Continue with Facebook</app-login-button>
            <p>Don't have an account ? Create one </p><a routerLink="/register">here</a>
        </div>
    </div>
</div>